@media screen and (max-width: 42em){
  .project-tagline{
    font-size: 1.3em; 
  }

  .top-menu {
    position: relative;
    overflow: hidden;
    height: 3em;
    transition: height .5s ease-out;

    &:before{
      content: 'MENU';
      background-image: url(/assets/imgs/menubt.png);
      background-position: left center;
      background-size: contain;
      background-repeat: no-repeat;
      height: 1.7em;
      display: inline-block;
      padding-left: 2.2em;
      padding-right: 0.2em;
      font-weight: bold;
      font-size: 1.5em;
      text-align: center;
      vertical-align: middle;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.3);
      border-color: rgba(0, 0, 0, 0.5);
      border-style: solid;
      border-width: 1px;
      border-radius: 0.3rem;
      margin-bottom: 0.5em;
    }
    &:hover,&:active{
      overflow: visible;
      &:before{
        background-color: rgba(0, 0, 0, 0.6);
        border-color: rgba(0, 0, 0, 0.5);
      }

      height: 30em;
      .btn{
        display: block;
      }
    }

    .btn:nth-of-type(1){
      margin-top: 1em;
    }

    .btn+.btn{
      margin-left: 0;
      margin-right: 0;
    }
  }
}



.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: transparent;
} 

.page-header2022 {
  background-image: url('/assets/imgs/tunis_medina_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-bottom: 1rem;
}
.page-header2023 {
  position: relative;
  padding-bottom: 1rem;

  &:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-image: url('/assets/imgs/ghana-accra-jamestown-nationalgeo2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    overflow: hidden;
  }
  *{
    position: relative;
  }
  .project-tagline{
    font-size: 1.75em; 
  }

  h1,h2 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.2em;
    border-radius: 10px;
  }
  h2{
    margin-bottom: 4rem;
    a{
      color: rgb(255,255,255);
      /*text-shadow: -0.1px -0.1px 0 #000, 0.1px -0.1px 0 #000, -0.1px 0.1px 0 #000, 0.1px 0.1px 0 #000;*/
      font-weight: bold;
    }
  }

  /*.head{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 0.2em;
    border-radius: 10px;
    /* width: 100%; 
  }*/
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.897);
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgba(0, 0, 0, 0.918);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  color:#ffffff;
  font-size: large;
  text-shadow: -0.1px -0.1px 0 #880000, 0.1px -0.1px 0 #880000, -0.1px 0.1px 0 #880000, 0.1px 0.1px 0 #880000;
}

.workshopdesc{
  text-align: justify;
}


.speakers{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .speaker{
    width:20%; 
    min-width: 125px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.organizers{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .organizer{
    width:15%; 
    margin-left: 1.5%;
    margin-right: 1.5%;
    min-width: 90px;
    text-align: center;
  }
}
.volunteers{
  display: flex;

  .volunteer{
    width:15%; 
    margin-left: 1.5%;
    margin-right: 1.5%;
    min-width: 90px;
    text-align: center;
  }
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}
.program{
  .entry{
    display: flex;
    padding-bottom: 2pt;
    padding-top: 2pt;

    .speaker{
      width:10%;
      margin-left: 2.5%;
      margin-right: 2.5%;
      float: left;
      text-align: center;
    }
    .speaker img{
      border-radius: 50%;
      object-fit: cover;
      width: 100%;
      aspect-ratio: 1;
    }
    .details{
      width:85%;
      font-size: 12pt;
      .title{
        font-size: 13pt;
        font-weight: bold;
      }
      .abstract {
        display: none;
        border-radius: 5px;
        background-color: rgb(229, 229, 229);
        padding: 8pt;
        font-size: 11pt;
      }
    }
    .time{
      display: inline;
      font-weight: bold;
    }
    a.video {
      background-image: url(/assets/imgs/youtube-small-logo.png);
      background-repeat: no-repeat;
      padding-left: 25px;
      background-size: contain;
    }
  }
  .entry.start,.entry.end{
    display: block;
    width: 100%;
    text-align: center;
  }
  .entry.start{
    border-bottom: 1px solid rgb(127, 127, 127);
  }
  .entry.end{
    border-top: 1px solid rgb(127, 127, 127);
  }

  .entry.poster{
    border: 1px solid rgb(220, 220, 220);
    border-radius: 15px;
    background-color: rgb(220, 220, 220);
    margin-top: 8pt;
    margin-bottom: 8pt;

    .title{
      display: inline;
    }
    .papers{
      list-style: decimal;
      margin-top: 5pt;

      li>.title{
        font-weight: bold;
      }
      li>.authors{
        font-style: italic;
      }
    }
  }
}
.live {
    text-align: center;
    border: 3px solid rgb(250,0,0);
    font-weight: bold;
    border-radius: 20px;
}
.live>a {
    background-image: url(/assets/imgs/youtube-logo.png);
    background-repeat: no-repeat;
    padding-left: 120px;
    background-size: contain;
}


.btn {        
  &:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.3);
    text-shadow: -0.1px -0.1px 0 #777, 0.1px -0.1px 0 #777, -0.1px 0.1px 0 #777, 0.1px 0.1px 0 #777;
  }
}

.btn.dropdown {
  position: relative;

  &:hover,&:active{
    .list{
      display: block;
    }
  }

  .list {
    display: none;
    position: absolute;
    margin-top: 0.5em;
    width: 100%;
    margin-left: -0.75em;
    padding-top: 0.75em;

    a {
        display: block;
        text-align: center;
        font-weight: bold;
        width: 100%;
        display: inline-block;
        margin-bottom: 0.5rem;
        padding: 0.5em;
        color: rgba(0, 0, 0, 0.897);
        background-color: rgba(0, 0, 0, 0.8);
        border-color: rgba(0, 0, 0, 0.918);
        border-style: solid;
        border-width: 1px;
        border-radius: 0.3rem;
        transition: color 0.2s, background-color 0.2s, border-color 0.2s;
        color: #ffffff;
        font-size: large;

        &:hover {
          color: rgba(0, 0, 0, 0.8);
          text-decoration: none;
          background-color: rgba(255, 255, 255, 0.6);
          border-color: rgba(255, 255, 255, 0.3);
          text-shadow: -0.1px -0.1px 0 #777, 0.1px -0.1px 0 #777, -0.1px 0.1px 0 #777, 0.1px 0.1px 0 #777;
        }
    }
  }
}

.sponsor>img {
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}
.sponsor>.headline {
    width: 78%;
    display: inline-block;
    vertical-align: middle;
}

.sponsor {
    clear: both;
    display: block;
}

/*
.sponsor:hover {
    background-color: rgb(100,100,100);
}
*/